In [26]:
## Import
import pandas as pd

In [27]:
data_path = '../data/VL_csv/tn_visit_area_info_방문지정보_E.csv'

df = pd.read_csv(data_path)
print(df.shape)

df.head(3).T

(21384, 23)

                                0                        1                  2
VISIT_AREA_ID          2304300001               2304300002         2304300003
TRAVEL_ID               e_e000004                e_e000004          e_e000004
VISIT_ORDER                     1                        2                  3
VISIT_AREA_NM                   집      화성 관광열차 안내소 연무대 매표소                창룡문
VISIT_START_YMD        2023-04-30               2023-04-30         2023-04-30
VISIT_END_YMD          2023-04-30               2023-04-30         2023-04-30
ROAD_NM_ADDR                  NaN  경기 수원시 팔달구 창룡대로103번길 20                NaN
LOTNO_ADDR                    NaN      경기 수원시 팔달구 매향동 3-32     경기 수원시 팔달구 남수동
X_COORD                       NaN               127.023339         127.025143
Y_COORD                       NaN                37.287878          37.287791
ROAD_NM_CD                    NaN                      NaN                NaN
LOTNO_CD                      NaN                      NaN                NaN
POI_ID                        NaN        POI01000000ALZU7R  POI010000006N1USC
POI_NM                        NaN        동대문종합시장 악세서리부자재시장                창룡문
RESIDENCE_TIME_MIN            NaN                     60.0               30.0
VISIT_AREA_TYPE_CD             21                        2                  2
REVISIT_YN                    NaN                        N                  N
VISIT_CHC_REASON_CD           NaN                     10.0                1.0
LODGING_TYPE_CD               NaN                      NaN                NaN
DGSTFN                        NaN                      4.0                4.0
REVISIT_INTENTION             NaN                      3.0                4.0
RCMDTN_INTENTION              NaN                      4.0                4.0
SGG_CD               4159011800.0                      NaN                NaN

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21384 entries, 0 to 21383
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        21384 non-null  int64
 1   TRAVEL_ID            21384 non-null  object
 2   VISIT_ORDER          21384 non-null  int64
 3   VISIT_AREA_NM        21384 non-null  object
 4   VISIT_START_YMD      21384 non-null  object
 5   VISIT_END_YMD        21384 non-null  object
 6   ROAD_NM_ADDR         18293 non-null  object
 7   LOTNO_ADDR           16044 non-null  object
 8   X_COORD              14486 non-null  float64
 9   Y_COORD              14486 non-null  float64
 10  ROAD_NM_CD           1338 non-null   float64
 11  LOTNO_CD             1338 non-null   float64
 12  POI_ID               14674 non-null  object
 13  POI_NM               14674 non-null  object
 14  RESIDENCE_TIME_MIN   18821 non-null  float64
 15  VISIT_AREA_TYPE_CD   21384 non-null  int64
 16  REVISIT_YN           15733 non-null  object
 17  VISIT_CHC_REASON_CD  15757 non-null  float64
 18  LODGING_TYPE_CD      1168 non-null   float64
 19  DGSTFN               15725 non-null  float64
 20  REVISIT_INTENTION    15725 non-null  float64
 21  RCMDTN_INTENTION     15725 non-null  float64
 22  SGG_CD               5391 non-null   float64
dtypes: float64(11), int64(3), object(9)
memory usage: 3.8+ MB

In [29]:
df.isna().sum()

VISIT_AREA_ID              0
TRAVEL_ID                  0
VISIT_ORDER                0
VISIT_AREA_NM              0
VISIT_START_YMD            0
VISIT_END_YMD              0
ROAD_NM_ADDR            3091
LOTNO_ADDR              5340
X_COORD                 6898
Y_COORD                 6898
ROAD_NM_CD             20046
LOTNO_CD               20046
POI_ID                  6710
POI_NM                  6710
RESIDENCE_TIME_MIN      2563
VISIT_AREA_TYPE_CD         0
REVISIT_YN              5651
VISIT_CHC_REASON_CD     5627
LODGING_TYPE_CD        20216
DGSTFN                  5659
REVISIT_INTENTION       5659
RCMDTN_INTENTION        5659
SGG_CD                 15993
dtype: int64

In [30]:
df[df['LODGING_TYPE_CD'].notnull()].head().T

,21,61,104,106,116
VISIT_AREA_ID,2304290007,2304280005,2304290005,2304290007,2304290004
TRAVEL_ID,e_e000009,e_e000013,e_e000020,e_e000020,e_e000021
VISIT_ORDER,6,5,5,7,6
VISIT_AREA_NM,호텔 프라하,해브펀 캠핑 어라운드,파르티아 워터하우스,파르티아 워터하우스,호텔 헤르메스
VISIT_START_YMD,2023-04-29,2023-04-28,2023-04-29,2023-04-29,2023-04-29
VISIT_END_YMD,2023-04-30,2023-04-29,2023-04-29,2023-04-30,2023-04-29
ROAD_NM_ADDR,경기 평택시 통복로26번길 11,경기 파주시 월롱면 도감로 130,경기 가평군 설악면 미사리로 707-96,경기 가평군 설악면 미사리로 707-96,경기 화성시 남양읍 역골로 9-28
LOTNO_ADDR,경기 평택시 통복동 114-10,경기 파주시 월롱면 위전리 89-1,경기 가평군 설악면 미사리 500-1,경기 가평군 설악면 미사리 500-1,경기 화성시 남양읍 남양리 2076
X_COORD,127.083338,126.799751,127.540699,127.540699,126.82722
Y_COORD,36.994097,37.790896,37.717804,37.717804,37.200436
ROAD_NM_CD,NaN,NaN,NaN,NaN,NaN
LOTNO_CD,NaN,NaN,NaN,NaN,NaN
POI_ID,POI02001TR033794V,POI02001TR032673V,POI02001TR030518V,POI02001TR030518V,POI02001TR033799V
POI_NM,호텔프라하,해브펀캠핑어라운드,파로티아워터하우스,파로티아워터하우스,호텔헤르메스
RESIDENCE_TIME_MIN,1290.0,450.0,0.0,150.0,120.0
VISIT_AREA_TYPE_CD,24,24,24,24,24
REVISIT_YN,N,N,N,N,N
VISIT_CHC_REASON_CD,8.0,11.0,8.0,8.0,7.0
LODGING_TYPE_CD,2.0,5.0,1.0,1.0,1.0
DGSTFN,1.0,5.0,4.0,4.0,4.0
REVISIT_INTENTION,1.0,5.0,3.0,3.0,4.0
RCMDTN_INTENTION,1.0,5.0,4.0,4.0,4.0
SGG_CD,NaN,NaN,NaN,NaN,NaN

In [31]:
df[df['LODGING_TYPE_CD'].notnull()].shape

(1168, 23)

### 방문 장소가 집인 곳을 모두 제거 (EDA시, 발생했던 아래의 문구 수정)

- 역, 주유소, 휴게소 - **주유소와 역은 이동수단과 관련된 정보임**
    - 숙소 정보 - **숙소 추천은 나중에 따로**


> 추가) 역과 숙소는 제거하지 않고 추가
- 전주역이나 수원역 같은 경우, 주변 상권이나 내부에 위치한 팝업 스토어 등 역 자체가 관광지 역할을 수행하는 경우가 많기에 지우는 것이 적합하지 않다고 판단.
- 숙소 같은 경우도, 동선 상에 숙소로 이동하는 동선이 필요한 경우가 고려되어야 하기에, 별도로 제거하지 않음

> 수정) 제거를 안하니까, 자꾸 대전역이나 부산역을 추천해줌
- 대전역 같은 경우, 성심당과 같은 주요 동선이 포함되지만, 부산역, 동대구역같은 경우는 필요 없다고 판단
- 필터링 코드를 전체적으로 모두 수정

In [ ]:
df = df[~df['VISIT_AREA_NM'].str.contains('집|주유소|나들목|출입로|터미널|역$', na=False)]

In [42]:
pattern = (
    r'집|주유소|나들목|출입로|터미널|정류장|환승센터|주차장|'
    r'호텔|모텔|게스트하우스'
    r'\(주\)|사무실|'
    r'카드|은행|보험|증권|'
    r'^\d+$|^\d{2,}번|^[A-Z0-9]{2,}$'
)

df_filtered = df[~df['VISIT_AREA_NM'].str.contains(pattern, case=False, na=False)]

In [43]:
df_filtered['VISIT_AREA_NM'].value_counts()[:30]

VISIT_AREA_NM
서울역                   99
화성행궁                  74
더 현대 서울               72
에버랜드                  60
국립중앙박물관               50
용산역                   43
두물머리                  39
캐리비안베이                37
롯데월드타워 롯데월드몰          36
송도센트럴파크               36
인천 차이나타운              36
방화수류정                 35
스타필드 하남               34
수원역                   33
경복궁                   33
아이파크몰 용산점             32
서울숲                   31
헤이리 예술마을              31
스타필드 고양               31
동대구역                  30
청계천                   30
가평역 경춘선               28
행리단길                  28
덕수궁                   27
여의도 한강공원              26
장안문                   25
코엑스                   25
광장시장                  25
현대 프리미엄 아울렛 스페이스 원    24
수원 화성                 24
Name: count, dtype: int64

In [39]:
df.to_csv(data_path.replace('방문지정보', '방문지정보_Cleaned'), index=False)