In [2]:
## Import
import pandas as pd

In [3]:
data_path = '../data/VL_csv/tn_visit_area_info_방문지정보_E.csv'

df = pd.read_csv(data_path)
print(df.shape)

df.head(3).T

(2718, 23)

                                0             1                    2
VISIT_AREA_ID          2304290001    2304290002           2304290003
TRAVEL_ID               e_e000008     e_e000008            e_e000008
VISIT_ORDER                     1             5                    2
VISIT_AREA_NM                   집             집              일산 호수공원
VISIT_START_YMD        2023-04-29    2023-04-29           2023-04-29
VISIT_END_YMD          2023-04-29    2023-04-30           2023-04-29
ROAD_NM_ADDR           김포시 풍년로 19    김포시 풍년로 19  경기 고양시 일산동구 호수로 595
LOTNO_ADDR                    NaN           NaN  경기 고양시 일산동구 장항동 906
X_COORD                       NaN           NaN           126.764141
Y_COORD                       NaN           NaN            37.656136
ROAD_NM_CD                    NaN           NaN                  NaN
LOTNO_CD                      NaN           NaN                  NaN
POI_ID                        NaN           NaN    POI01000TR008016V
POI_NM                        NaN           NaN               일산호수공원
RESIDENCE_TIME_MIN            NaN         240.0                 90.0
VISIT_AREA_TYPE_CD             21            21                    1
REVISIT_YN                    NaN           NaN                    Y
VISIT_CHC_REASON_CD           NaN           NaN                 11.0
LODGING_TYPE_CD               NaN           NaN                  NaN
DGSTFN                        NaN           NaN                  5.0
REVISIT_INTENTION             NaN           NaN                  5.0
RCMDTN_INTENTION              NaN           NaN                  5.0
SGG_CD               4157010600.0  4157010600.0                  NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2718 entries, 0 to 2717
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        2718 non-null   int64
 1   TRAVEL_ID            2718 non-null   object
 2   VISIT_ORDER          2718 non-null   int64
 3   VISIT_AREA_NM        2718 non-null   object
 4   VISIT_START_YMD      2718 non-null   object
 5   VISIT_END_YMD        2718 non-null   object
 6   ROAD_NM_ADDR         2334 non-null   object
 7   LOTNO_ADDR           2087 non-null   object
 8   X_COORD              1863 non-null   float64
 9   Y_COORD              1863 non-null   float64
 10  ROAD_NM_CD           183 non-null    float64
 11  LOTNO_CD             183 non-null    float64
 12  POI_ID               1876 non-null   object
 13  POI_NM               1876 non-null   object
 14  RESIDENCE_TIME_MIN   2398 non-null   float64
 15  VISIT_AREA_TYPE_CD   2718 non-null   int64
 16  REVISIT_YN           2006 non-null   object
 17  VISIT_CHC_REASON_CD  2009 non-null   float64
 18  LODGING_TYPE_CD      139 non-null    float64
 19  DGSTFN               2006 non-null   float64
 20  REVISIT_INTENTION    2006 non-null   float64
 21  RCMDTN_INTENTION     2006 non-null   float64
 22  SGG_CD               655 non-null    float64
dtypes: float64(11), int64(3), object(9)
memory usage: 488.5+ KB

In [5]:
df.isna().sum()

VISIT_AREA_ID             0
TRAVEL_ID                 0
VISIT_ORDER               0
VISIT_AREA_NM             0
VISIT_START_YMD           0
VISIT_END_YMD             0
ROAD_NM_ADDR            384
LOTNO_ADDR              631
X_COORD                 855
Y_COORD                 855
ROAD_NM_CD             2535
LOTNO_CD               2535
POI_ID                  842
POI_NM                  842
RESIDENCE_TIME_MIN      320
VISIT_AREA_TYPE_CD        0
REVISIT_YN              712
VISIT_CHC_REASON_CD     709
LODGING_TYPE_CD        2579
DGSTFN                  712
REVISIT_INTENTION       712
RCMDTN_INTENTION        712
SGG_CD                 2063
dtype: int64

In [6]:
df[df['LODGING_TYPE_CD'].notnull()].head().T

,20,22,29,83,92
VISIT_AREA_ID,2304280002,2304300001,2304290005,2305280002,2306050002
TRAVEL_ID,e_e000032,e_e000032,e_e000035,e_e000372,e_e000378
VISIT_ORDER,2,5,5,5,3
VISIT_AREA_NM,호텔플로체,그레이 캐슬 펜션,온 더 비치 풀빌라,이천 농업테마공원 어농골펜션,골든 튤립에버 용인 호텔
VISIT_START_YMD,2023-04-28,2023-04-30,2023-04-29,2023-05-28,2023-06-05
VISIT_END_YMD,2023-04-29,2023-05-01,2023-04-30,2023-05-29,2023-06-06
ROAD_NM_ADDR,경기 부천시 길주로77번길 19-22,경기 양주시 장흥면 권율로309번길 67-22,인천 옹진군 영흥면 선재로306번길 27-115,경기 이천시 모가면 공원로 48,경기 용인시 처인구 포곡읍 전대로78번길 19-2
LOTNO_ADDR,경기 부천시 상동 532-19,경기 양주시 장흥면 석현리 360-19,인천 옹진군 영흥면 선재리 545-6,경기 이천시 모가면 어농리 871-3,경기 용인시 처인구 포곡읍 전대리 356-1
X_COORD,126.750345,126.951259,126.516902,127.44594,NaN
Y_COORD,37.506905,37.741823,37.257404,37.177594,NaN
ROAD_NM_CD,NaN,NaN,NaN,NaN,NaN
LOTNO_CD,NaN,NaN,NaN,NaN,NaN
POI_ID,POI02001TR033795V,POI01000TR040377V,POI01000000B5KDIR,POI02001TR024237V,POI01000TR029244V
POI_NM,호텔플로체,그레이캐슬펜션,온더비치풀빌라,이천농업테마공원 어농골펜션,골든튤립에버 용인호텔
RESIDENCE_TIME_MIN,270.0,300.0,540.0,510.0,120.0
VISIT_AREA_TYPE_CD,24,24,24,24,24
REVISIT_YN,N,N,N,N,N
VISIT_CHC_REASON_CD,8.0,8.0,1.0,1.0,6.0
LODGING_TYPE_CD,1.0,3.0,3.0,3.0,1.0
DGSTFN,5.0,5.0,4.0,4.0,4.0
REVISIT_INTENTION,5.0,5.0,4.0,4.0,3.0
RCMDTN_INTENTION,5.0,5.0,4.0,4.0,3.0
SGG_CD,NaN,NaN,NaN,NaN,NaN

In [7]:
df[df['LODGING_TYPE_CD'].notnull()].shape

(139, 23)

### 방문 장소가 집인 곳을 모두 제거 (EDA시, 발생했던 아래의 문구 수정)

- 역, 주유소, 휴게소 - **주유소와 역은 이동수단과 관련된 정보임**
    - 숙소 정보 - **숙소 추천은 나중에 따로**


> 추가) 역과 숙소는 제거하지 않고 추가
- 전주역이나 수원역 같은 경우, 주변 상권이나 내부에 위치한 팝업 스토어 등 역 자체가 관광지 역할을 수행하는 경우가 많기에 지우는 것이 적합하지 않다고 판단.
- 숙소 같은 경우도, 동선 상에 숙소로 이동하는 동선이 필요한 경우가 고려되어야 하기에, 별도로 제거하지 않음

In [22]:
df = df[~df['VISIT_AREA_NM'].str.contains('집|주유소|나들목|출입로|터미널', na=False)]

In [23]:
df['VISIT_AREA_NM'].value_counts()[:30]

VISIT_AREA_NM
서울역                15
사무실                15
화성행궁               14
서울숲                11
에버랜드                9
수원역                 7
더 현대 서울             7
스타필드 고양             6
국립중앙박물관             6
갤러리아백화점 광교점         6
스타필드 하남             6
수서역                 5
광장시장                5
수원시립미술관             5
롯데월드                5
덕수궁                 5
경복궁                 5
현대 프리미엄 아울렛 송도점     5
북촌 한옥마을             5
방화수류정               5
부천 아름다운 나날 아파트      5
스타필드 코엑스몰           5
코엑스                 5
광명두산위브트레지움 아파트      5
안성휴게소 부산방향          5
두물머리                5
ENA 스위트호텔           5
수원 화성               5
캐리비안베이              5
호텔 더 디자이너스 인천점      4
Name: count, dtype: int64

In [25]:
df.to_csv(data_path.replace('방문지정보', '방문지정보_Cleaned'), index=False)