# NVMN 코드 병합 진행

MOV	1	자가용(승용/승합/트럭 등등)	- 1
MOV	2	렌터카(승용/승합/버스 등등)	- 1
MOV	3	캠핑카(자차 및 렌탈)	- 1
MOV	4	택시	- 2
MOV	5	지하철	- 3
MOV	6	고속전철(ITX 등)    -  3
MOV	7	KTX/SRT(고속열차)	- 4
MOV	8	새마을/무궁화열차	- 4
MOV	9	항공기	- 4
MOV	10	배/선박	- 4
MOV	11	관광버스	- 3
MOV	12	시외/고속버스	- 3
MOV	13	시내/마을버스	- 3
MOV	14	자전거	- 5
MOV	15	도보	- 5
MOV	16	기타	- 6
MOV	50	버스 + 지하철   - 3

In [31]:
import pandas as pd

In [32]:
move = pd.read_csv('../data/VL_csv/tn_move_his_이동내역_E.csv')
area = pd.read_csv('../data/VL_csv/tn_visit_area_info_방문지정보_Cleaned_E.csv')

In [33]:
move.head(2).T

                                    0                 1
TRAVEL_ID                   e_e000004         e_e000004
TRIP_ID                    2304300001        2304300002
START_VISIT_AREA_ID      2304300001.0               NaN
END_VISIT_AREA_ID                 NaN      2304300002.0
START_DT_MIN         2023-04-30 13:30               NaN
END_DT_MIN                        NaN  2023-04-30 14:00
MVMN_CD_1                         NaN               1.0
MVMN_CD_2                         NaN               NaN

In [34]:
area.head(2).T

                                           0                  1
VISIT_AREA_ID                     2304300002         2304300003
TRAVEL_ID                          e_e000004          e_e000004
VISIT_ORDER                                2                  3
VISIT_AREA_NM            화성 관광열차 안내소 연무대 매표소                창룡문
VISIT_START_YMD                   2023-04-30         2023-04-30
VISIT_END_YMD                     2023-04-30         2023-04-30
ROAD_NM_ADDR         경기 수원시 팔달구 창룡대로103번길 20                NaN
LOTNO_ADDR               경기 수원시 팔달구 매향동 3-32     경기 수원시 팔달구 남수동
X_COORD                           127.023339         127.025143
Y_COORD                            37.287878          37.287791
ROAD_NM_CD                               NaN                NaN
LOTNO_CD                                 NaN                NaN
POI_ID                     POI01000000ALZU7R  POI010000006N1USC
POI_NM                     동대문종합시장 악세서리부자재시장                창룡문
RESIDENCE_TIME_MIN                      60.0               30.0
VISIT_AREA_TYPE_CD                         2                  2
REVISIT_YN                                 N                  N
VISIT_CHC_REASON_CD                     10.0                1.0
LODGING_TYPE_CD                          NaN                NaN
DGSTFN                                   4.0                4.0
REVISIT_INTENTION                        3.0                4.0
RCMDTN_INTENTION                         4.0                4.0
SGG_CD                                   NaN                NaN

In [35]:
area[area['VISIT_AREA_ID'] == 2308260003]

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
11119,2308260003,e_e005930,3,연경 차이나타운 본점,2023-08-26,2023-08-26,인천 중구 차이나타운로 41,인천 중구 북성동3가 5-1,126.619831,37.475615,...,연경 차이나타운본점,0.0,11,N,2.0,NaN,5.0,5.0,5.0,NaN
11303,2308260003,e_e006081,3,조양 방직,2023-08-26,2023-08-26,인천 강화군 강화읍 향나무길5번길 12,인천 강화군 강화읍 신문리 587,126.480958,37.746783,...,조양방직,150.0,4,N,2.0,NaN,5.0,5.0,5.0,NaN
11312,2308260003,e_e006086,3,왕산 마리나항,2023-08-26,2023-08-26,NaN,인천 중구 을왕동 980-1,126.357222,37.456658,...,왕산마리나항,30.0,9,N,9.0,NaN,2.0,2.0,2.0,NaN
11922,2308260003,e_e006804,2,홍대입구역 공항철도,2023-08-26,2023-08-26,서울 마포구 양화로 지하 188,서울 마포구 동교동 190-1,126.927010,37.557305,...,홍대입구역 공항철도,30.0,9,Y,6.0,NaN,4.0,4.0,5.0,NaN
11968,2308260003,e_e006833,3,하남 유니언 타워,2023-08-26,2023-08-26,경기 하남시 미사대로 710,경기 하남시 신장동 27,127.220392,37.547229,...,하남시유니온파크,240.0,6,Y,8.0,NaN,5.0,4.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15492,2308260003,e_e011582,3,현대 프리미엄 아울렛 스페이스 원,2023-08-26,2023-08-26,경기 남양주시 다산순환로 50,경기 남양주시 다산동 6141,127.152479,37.616305,...,현대프리미엄아울렛 스페이스원,270.0,4,Y,1.0,NaN,5.0,5.0,5.0,NaN
15502,2308260003,e_e011588,3,일산 호수공원,2023-08-26,2023-08-26,경기 고양시 일산동구 호수로 595,경기 고양시 일산동구 장항동 906,126.764141,37.656136,...,일산호수공원,120.0,7,N,5.0,NaN,4.0,3.0,3.0,NaN
15504,2308260003,e_e011592,2,롯데시네마 김포공항,2023-08-26,2023-08-26,서울 강서구 하늘길 지하 77,서울 강서구 방화동 886,126.803872,37.563713,...,2001아울렛 구로점,150.0,3,N,3.0,NaN,5.0,5.0,5.0,NaN
15521,2308260003,e_e011627,3,용주사,2023-08-26,2023-08-26,경기 화성시 용주로 136,경기 화성시 송산동 188,127.005079,37.212171,...,용주사,30.0,2,N,1.0,NaN,5.0,4.0,4.0,NaN
15528,2308260003,e_e011630,2,마곡나루역 9호선,2023-08-26,2023-08-26,서울 강서구 마곡중앙5로 지하 2,서울 강서구 마곡동 760-3,126.827421,37.566713,...,마곡나루역 9호선,30.0,9,Y,6.0,NaN,5.0,5.0,5.0,NaN

In [36]:
merged = pd.merge(move, area, how='left', left_on=['TRAVEL_ID', 'TRIP_ID'], right_on = ['TRAVEL_ID', 'VISIT_AREA_ID'])

In [40]:
merged.columns

Index(['TRAVEL_ID', 'TRIP_ID', 'START_VISIT_AREA_ID', 'END_VISIT_AREA_ID',
       'START_DT_MIN', 'END_DT_MIN', 'MVMN_CD_1', 'MVMN_CD_2', 'VISIT_AREA_ID',
       'VISIT_ORDER', 'VISIT_AREA_NM', 'VISIT_START_YMD', 'VISIT_END_YMD',
       'ROAD_NM_ADDR', 'LOTNO_ADDR', 'X_COORD', 'Y_COORD', 'ROAD_NM_CD',
       'LOTNO_CD', 'POI_ID', 'POI_NM', 'RESIDENCE_TIME_MIN',
       'VISIT_AREA_TYPE_CD', 'REVISIT_YN', 'VISIT_CHC_REASON_CD',
       'LODGING_TYPE_CD', 'DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION',
       'SGG_CD'],
      dtype='object')

In [41]:
merged[merged['TRAVEL_ID'] == 'e_e000004']

,TRAVEL_ID,TRIP_ID,START_VISIT_AREA_ID,END_VISIT_AREA_ID,START_DT_MIN,END_DT_MIN,MVMN_CD_1,MVMN_CD_2,VISIT_AREA_ID,VISIT_ORDER,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,e_e000004,2304300001,2.304300e+09,NaN,2023-04-30 13:30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e_e000004,2304300002,NaN,2.304300e+09,NaN,2023-04-30 14:00,1.0,NaN,2.304300e+09,2.0,...,동대문종합시장 악세서리부자재시장,60.0,2.0,N,10.0,NaN,4.0,3.0,4.0,NaN
2,e_e000004,2304300003,NaN,2.304300e+09,NaN,2023-04-30 15:00,15.0,NaN,2.304300e+09,3.0,...,창룡문,30.0,2.0,N,1.0,NaN,4.0,4.0,4.0,NaN
3,e_e000004,2304300004,NaN,2.304300e+09,NaN,2023-04-30 15:30,15.0,NaN,2.304300e+09,4.0,...,수원화성 화홍문,60.0,2.0,N,10.0,NaN,4.0,3.0,3.0,NaN
4,e_e000004,2304300005,NaN,2.304300e+09,NaN,2023-04-30 17:30,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
area[(area['VISIT_AREA_ID'] == 2304300001) & (area['TRAVEL_ID']== 'e_e000004')] # 지워진것들은 집이나 역인 데이터로 확인됨

Empty DataFrame
Columns: [VISIT_AREA_ID, TRAVEL_ID, VISIT_ORDER, VISIT_AREA_NM, VISIT_START_YMD, VISIT_END_YMD, ROAD_NM_ADDR, LOTNO_ADDR, X_COORD, Y_COORD, ROAD_NM_CD, LOTNO_CD, POI_ID, POI_NM, RESIDENCE_TIME_MIN, VISIT_AREA_TYPE_CD, REVISIT_YN, VISIT_CHC_REASON_CD, LODGING_TYPE_CD, DGSTFN, REVISIT_INTENTION, RCMDTN_INTENTION, SGG_CD]
Index: []

[0 rows x 23 columns]

In [45]:
area_before = pd.read_csv("../data/VL_csv/tn_visit_area_info_방문지정보_E.csv")

In [46]:
merged_before = pd.merge(move, area_before, how='left', left_on=['TRAVEL_ID', 'TRIP_ID'], right_on = ['TRAVEL_ID', 'VISIT_AREA_ID'])

In [48]:
area_before[(area_before['VISIT_AREA_ID'] == 2304300001) & (area['TRAVEL_ID']== 'e_e000004')] # 지워진것들은 집이나 역인 데이터로 확인됨

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2304300001,e_e000004,1,집,2023-04-30,2023-04-30,NaN,NaN,NaN,NaN,...,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,4.159012e+09

In [49]:
mov_to_nvnm = {
    1: 1,  # 자가용
    2: 1,  # 렌터카
    3: 1,  # 캠핑카
    4: 2,  # 택시
    5: 3,  # 지하철
    6: 3,  # 고속전철
    7: 4,  # KTX/SRT
    8: 4,  # 새마을/무궁화
    9: 4,  # 항공기
    10: 4, # 배
    11: 3, # 관광버스
    12: 3, # 시외버스
    13: 3, # 시내버스
    14: 5, # 자전거
    15: 5, # 도보
    16: 6, # 기타
    50: 3  # 버스+지하철
}

In [50]:
move['MVMN_CD_1'] = move['MVMN_CD_1'].map(mov_to_nvnm)
move['MVMN_CD_2'] = move['MVMN_CD_2'].map(mov_to_nvnm)

In [51]:
move.to_csv('../data/VL_csv/tn_move_his_이동내역_cleaned_E.csv', index=False)

## 이동 방식 (운전자/동승자 여부, 공공성, 거리, 자동/비자동) 기준 병합처리
---

### **1번 그룹 (자가용류) → NVMN 1**

* `MOV 1`: 자가용
* `MOV 2`: 렌터카
* `MOV 3`: 캠핑카

- ✅ 개인이 운전하거나 소유/렌트하는 차량류

---

### **2번 그룹 (비개인 운전자형 차량) → NVMN 2**

* `MOV 4`: 택시
  
- ✅ 운전 기사가 있는 개인 교통수단 (유료 대중 운송)

---

### **3번 그룹 (대중교통 일반) → NVMN 3**

* `MOV 5`: 지하철
* `MOV 6`: 고속전철 (ITX 등)
* `MOV 11`: 관광버스
* `MOV 12`: 시외/고속버스
* `MOV 13`: 시내/마을버스
* `MOV 50`: 버스+지하철
  
- ✅ **육상 대중교통**, 가까운 거리나 시외 이동 포함

---

### **4번 그룹 (장거리 교통수단) → NVMN 4**

* `MOV 7`: KTX/SRT
* `MOV 8`: 새마을/무궁화
* `MOV 9`: 항공기
* `MOV 10`: 배/선박
  
- ✅ **장거리 이동을 위한 교통수단**, 고속 or 해상/항공 포함

---

### **5번 그룹 (개인 비자동 교통) → NVMN 5**

* `MOV 14`: 자전거
* `MOV 15`: 도보
  
- ✅ 엔진 없는 **비자동 개인 이동수단**

---

### **6번 그룹 (기타) → NVMN 6**

* `MOV 16`: 기타
  
- ✅ 위의 모든 코드에 해당되지 않는 교통수단

---