In [1]:
import pandas as pd

In [28]:
meta = pd.read_csv("../data/VL_csv/tn_tour_photo_관광사진_E.csv")
area = pd.read_csv("../data/VL_csv/tn_visit_area_info_방문지정보_Cleaned_E.csv")

In [29]:
meta.isna().sum()

TRAVEL_ID                   0
VISIT_AREA_ID               0
TOUR_PHOTO_SEQ              0
PHOTO_FILE_ID               0
PHOTO_FILE_NM               0
PHOTO_FILE_FRMAT            0
PHOTO_FILE_DT               0
PHOTO_FILE_SAVE_PATH        0
PHOTO_FILE_RESOLUTION       0
PHOTO_FILE_X_COORD          0
PHOTO_FILE_Y_COORD          0
VISIT_AREA_NM            5312
dtype: int64

In [30]:
area.isna().sum()

VISIT_AREA_ID              0
TRAVEL_ID                  0
VISIT_ORDER                0
VISIT_AREA_NM              0
VISIT_START_YMD            0
VISIT_END_YMD              0
ROAD_NM_ADDR            3091
LOTNO_ADDR              5340
X_COORD                 6898
Y_COORD                 6898
ROAD_NM_CD             20046
LOTNO_CD               20046
POI_ID                  6710
POI_NM                  6710
RESIDENCE_TIME_MIN      2563
VISIT_AREA_TYPE_CD         0
REVISIT_YN              5651
VISIT_CHC_REASON_CD     5627
LODGING_TYPE_CD        20216
DGSTFN                  5659
REVISIT_INTENTION       5659
RCMDTN_INTENTION        5659
SGG_CD                 15993
dtype: int64

In [6]:
merged = pd.merge(area, meta, how="left", on='VISIT_AREA_ID')

In [31]:
merged[merged['X_COORD'].isna() & merged['PHOTO_FILE_X_COORD'].notna()]

Empty DataFrame
Columns: [VISIT_AREA_ID, TRAVEL_ID_x, VISIT_ORDER, VISIT_AREA_NM_x, VISIT_START_YMD, VISIT_END_YMD, ROAD_NM_ADDR, LOTNO_ADDR, X_COORD, Y_COORD, ROAD_NM_CD, LOTNO_CD, POI_ID, POI_NM, RESIDENCE_TIME_MIN, VISIT_AREA_TYPE_CD, REVISIT_YN, VISIT_CHC_REASON_CD, LODGING_TYPE_CD, DGSTFN, REVISIT_INTENTION, RCMDTN_INTENTION, SGG_CD, TRAVEL_ID_y, TOUR_PHOTO_SEQ, PHOTO_FILE_ID, PHOTO_FILE_NM, PHOTO_FILE_FRMAT, PHOTO_FILE_DT, PHOTO_FILE_SAVE_PATH, PHOTO_FILE_RESOLUTION, PHOTO_FILE_X_COORD, PHOTO_FILE_Y_COORD, VISIT_AREA_NM_y]
Index: []

[0 rows x 34 columns]

In [ ]:
merged[merged['X_COORD'].isna()]

,VISIT_AREA_ID,TRAVEL_ID_x,VISIT_ORDER,VISIT_AREA_NM_x,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,TOUR_PHOTO_SEQ,PHOTO_FILE_ID,PHOTO_FILE_NM,PHOTO_FILE_FRMAT,PHOTO_FILE_DT,PHOTO_FILE_SAVE_PATH,PHOTO_FILE_RESOLUTION,PHOTO_FILE_X_COORD,PHOTO_FILE_Y_COORD,VISIT_AREA_NM_y
30,31,e_e000011,1,사무실,2023-04-28,2023-04-28,창원대학교,경남 김해시 부곡동 1166-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,52,e_e000015,5,본가,2023-04-28,2023-04-29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,56,e_e000015,9,본가,2023-04-29,2023-04-30,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,64,e_e000015,17,본가,2023-04-30,2023-05-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,69,e_e000015,22,본가,2023-05-01,2023-05-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15904,15905,f_f006366,3,제부도 바다 둘레길,2023-08-18,2023-08-18,해안길,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15905,15906,f_f006366,4,서해랑 제부도 케이블카 정류장,2023-08-18,2023-08-18,해안길18,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15906,15907,f_f006366,5,제부도 전곡항 정류장,2023-08-18,2023-08-18,전곡항로1-10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15908,15909,f_f006622,3,아멕스 랜드 주변 카트 관광 및 전망대,2023-08-13,2023-08-13,경기 연천군 왕징면 왕산로218번길 61,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15928,15929,g_g003294,10,고궁,2023-07-09,2023-07-09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merged[merged['X_COORD'].isna() & merged['PHOTO_FILE_X_COORD'].isna() & ~merged['VISIT_AREA_NM_x'].isin(['사무실, 본가'])][['VISIT_AREA_NM_x', 'VISIT_AREA_NM_y']]

             VISIT_AREA_NM_x VISIT_AREA_NM_y
30                       사무실             NaN
51                        본가             NaN
55                        본가             NaN
63                        본가             NaN
68                        본가             NaN
...                      ...             ...
15904             제부도 바다 둘레길             NaN
15905       서해랑 제부도 케이블카 정류장             NaN
15906            제부도 전곡항 정류장             NaN
15908  아멕스 랜드 주변 카트 관광 및 전망대             NaN
15928                     고궁             NaN

[1899 rows x 2 columns]

In [ ]:
area['VISIT_AREA_NM'].value_counts().sort_values()[-30:]

VISIT_AREA_NM
광화문광장            24
광장시장             25
코엑스              25
장안문              25
여의도 한강공원         26
덕수궁              27
행리단길             28
가평역 경춘선          28
동대구역             30
청계천              30
서울숲              31
스타필드 고양          31
헤이리 예술마을         31
아이파크몰 용산점        32
경복궁              33
수원역              33
스타필드 하남          34
방화수류정            35
인천 차이나타운         36
롯데월드타워 롯데월드몰     36
송도센트럴파크          36
캐리비안베이           37
두물머리             39
용산역              43
국립중앙박물관          50
에버랜드             60
더 현대 서울          72
화성행궁             74
서울역              99
사무실             100
Name: count, dtype: int64

In [25]:
area[area["VISIT_AREA_NM"] == '집']

Empty DataFrame
Columns: [VISIT_AREA_ID, TRAVEL_ID, VISIT_ORDER, VISIT_AREA_NM, VISIT_START_YMD, VISIT_END_YMD, ROAD_NM_ADDR, LOTNO_ADDR, X_COORD, Y_COORD, ROAD_NM_CD, LOTNO_CD, POI_ID, POI_NM, RESIDENCE_TIME_MIN, VISIT_AREA_TYPE_CD, REVISIT_YN, VISIT_CHC_REASON_CD, LODGING_TYPE_CD, DGSTFN, REVISIT_INTENTION, RCMDTN_INTENTION, SGG_CD]
Index: []

[0 rows x 23 columns]

In [20]:
narea = pd.read_csv("../data/VL_csv/visit_area_with_new_id_final.csv")

In [24]:
area['VISIT_AREA_NM'].unique()

array(['화성 관광열차 안내소 연무대 매표소', '창룡문', '수원 화성 화홍문', ..., '선창 마트',
       '용인농촌테마파크', '내동마을 연꽃 단지'], dtype=object)

In [21]:
narea['VISIT_AREA_NM'].value_counts().sort_values()[-30:]

VISIT_AREA_NM
행리단길               28
가평역 경춘선            28
청계천                30
동대구역               30
헤이리 예술마을           31
스타필드 고양            31
서울숲                31
아이파크몰 용산점          32
경복궁                33
수원역                33
친지 집               34
스타필드 하남            34
방화수류정              35
롯데월드타워 롯데월드몰       36
송도센트럴파크            36
인천 차이나타운           36
센트럴시티터미널(호남)       36
캐리비안베이             37
두물머리               39
용산역                43
국립중앙박물관            50
서울고속버스터미널(경부)      50
에버랜드               60
더 현대 서울            72
화성행궁               74
친구 집               77
서울역                99
사무실               100
친구 친지 집           101
집                4622
Name: count, dtype: int64