In [21]:
import pandas as pd

In [22]:
data_path = './merged_csv/merged_csv_region/제주도 및 도서지역/'
move = pd.read_csv(data_path + "이동소비내역_total.csv")

In [23]:
mov_to_nvnm = {
    1: 1,  # 자가용
    2: 1,  # 렌터카
    3: 1,  # 캠핑카
    4: 2,  # 택시
    5: 3,  # 지하철
    6: 3,  # 고속전철
    7: 4,  # KTX/SRT
    8: 4,  # 새마을/무궁화
    9: 4,  # 항공기
    10: 4, # 배
    11: 3, # 관광버스
    12: 3, # 시외버스
    13: 3, # 시내버스
    14: 5, # 자전거
    15: 5, # 도보
    16: 6, # 기타
    50: 3  # 버스+지하철
}

In [24]:
move['MVMN_CD_1'] = move['MVMN_CD_1'].map(mov_to_nvnm).fillna(0)
move['MVMN_CD_2'] = move['MVMN_CD_2'].map(mov_to_nvnm).fillna(0)

In [25]:
move

,TRAVEL_ID,TRIP_ID,START_VISIT_AREA_ID,END_VISIT_AREA_ID,START_DT_MIN,END_DT_MIN,MVMN_CD_1,MVMN_CD_2,REGION,DATA_TYPE
0,e_e000295,2306030001,2.306030e+09,NaN,2023-06-03 10:30,NaN,0.0,0.0,제주도 및 도서지역,_csv_train
1,e_e000295,2306030002,NaN,2.306030e+09,NaN,2023-06-03 11:30,1.0,0.0,제주도 및 도서지역,_csv_train
2,e_e000295,2306030003,NaN,2.306030e+09,NaN,2023-06-03 14:30,1.0,0.0,제주도 및 도서지역,_csv_train
3,e_e000295,2306030007,NaN,2.306030e+09,NaN,2023-06-03 15:00,1.0,0.0,제주도 및 도서지역,_csv_train
4,e_e000295,2306040001,NaN,2.306040e+09,NaN,2023-06-04 10:30,1.0,0.0,제주도 및 도서지역,_csv_train
...,...,...,...,...,...,...,...,...,...,...
51591,h_h006753,2309230002,NaN,2.309230e+09,NaN,2023-09-23 19:00,1.0,0.0,제주도 및 도서지역,_csv_val
51592,h_h006753,2309230003,NaN,2.309230e+09,NaN,2023-09-23 02:30,1.0,0.0,제주도 및 도서지역,_csv_val
51593,h_h006753,2309230004,NaN,2.309230e+09,NaN,2023-09-23 03:00,1.0,0.0,제주도 및 도서지역,_csv_val
51594,h_h006753,2309240001,NaN,2.309240e+09,NaN,2023-09-24 14:30,1.0,0.0,제주도 및 도서지역,_csv_val
51595,h_h006753,2309240002,NaN,2.309240e+09,NaN,2023-09-24 11:30,1.0,0.0,제주도 및 도서지역,_csv_val

In [26]:
move.to_csv(data_path + "fin/이동내역_fin.csv")